<!doctype html>  
<!--[if lt IE 7 ]> <html lang="en-us" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en-us" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-us" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-us" class="no-js ie9"> <![endif]-->   
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
  <meta charset="utf-8">

  <title>FOoBAR</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    <!-- The Columnal Grid (1140px wide base, load first), Type and image presets, and mobile stylesheet -->
	<link rel="stylesheet" href="css/columnal.css" type="text/css" media="screen" />

<!-- Fixes for IE -->
	<!--[if lt IE 9]>
    	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<![endif]-->

<!-- use "fixed-984px-ie.css" or "fixed-960px-ie.css for a 984px or 960px fixed width for IE6 and 7 -->
	<!--[if lte IE 7]>
		<link rel="stylesheet" href="css/fixed-984px-ie.css" type="text/css" media="screen" />
	<![endif]-->

<!-- Fixes for IE6, only needed if IE 6 will be supported - width must match 984px or 960px of css file used above -->
<!-- Use .imagescale to fix IE6 issues with full-column width images (class must be added to any image wider than the column it is placed into) -->
	<!--[if lte IE 6]>
		<link rel="stylesheet" href="css/ie6-984px.css" type="text/css" media="screen" />
	<![endif]-->
<!-- End fixes for IE -->

<!-- Customizations here --> 
    <link rel="stylesheet" href="css/custom.css" type="text/css" media="screen" />

<!-- Page build tools - only needed while creating a site, remove when launching - Gray box colors and page debugging tools -->
    <link rel="stylesheet" href="css/build.css" type="text/css" media="screen" />
</head>
<body class="bgeee">
<div class="container">
   <div class="row">
      <div class="pre_3 col_9 bg777">
        <h1>St. Paul the Apostle Orthodox Church</h1>
        <h3>Dayton, Ohio</h3>
      </div>
   </div>
   <div class="row">
      <div class="col_3 clearleft">
         :navigation
         <div class="bg666">
            @contact-us
         </div>
      <div class="col_9 omega bg999">
         <div class="row">
            <div class="col_9">
               @content
            </div>
         </div>
         <div class="row">
            <div class="col_5 bg777">
               <h3>News</h3>
            </div>
            <div class="col_4 omega bg888">
               <h3>Announcements</h3>
               <ul>
               <li> Services for the Feast of the Nativity:<br>
               Friday, 12/23<br>
               9:00 AM 1st and 3rd Royal Hours<br>
               12:00 PM 6th and 9th Royal Hours<br>
               Saturday, 12/24<br>
               5:00 PM Vespers of the Nativity of Christ<br>
               The Choir's Christmas Lessons and Carols<br>
               Sunday, 12/25<br>
               9:30 AM Divine Liturgy<br>
               11:30 AM Festal Potluck<br><br>
               <li>Nativity Play<br>presented by the Sunday School classes<br> Sunday, 12/18, immediately after Divine Liturgy <br> <br>
               <!--<li>Catechism/Inquirers' Class<br>Tuesday 10/25<br> 7 PM<br><br>-->
               <li>Parish Council Meeting<br> Monday, 12/19 6:30 PM after 6 PM Vespers<br><br> 
               <li>Wednesday Morning Discussion Group<br>&nbsp;12/21, 11 AM <br>How to Read the New Testament&nbsp;&nbsp;Chapter 3, pp. 45-56<br><br>
               <!--<li>Seniors' Breakfast!<br> Tomorrow, Monday 10/3, 9:00 AM <br>at Christopher's restaurant, Kettering <br>(<a href="http://www.christophers.biz/extras/index.html">directions</a>) <br>Come join us!<br><br>-->
               <li>Sunday Evening Discussion Group<br> 12/18,&nbsp; 5 PM <br>A Cloud of Witnesses <br>pp. 183-225 <br><br>
               </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
</body>
