/*
_______________________________
Desktop version layout - place your custom code here */

body {

}

h3{
   margin-top:0;
}

h4{
   font-size:1em;
}

.navigation {
   padding:  1em;
   padding-top:2em;
   list-style:none;
   text-align:right;
   direction:rtl;
   border-right:dashed #999 1px;
   border-bottom:dashed #999 1px;
}

.navigation li {
   margin-left:0;
   margin-right:0.5em;
   margin-bottom:0.3em;
}

li#current {
   list-style: square;
}

.navigation a {
   color:#444;
}

.contact {
   border-right:dashed #999 1px;
   border-top:dashed #999 1px;
   padding:  1em;
   word-wrap:break-word;
}

.contact p{
   font-size: 0.8em;
}

.contact img{
   margin-left:3em;
   margin-right:auto;
   margin-bottom:0
}

.contact h4{
   border-bottom: 1px dashed;
}

.announce {
   border:dashed #999 1px;
   margin:1em;
   padding:  1em;
}
.announce h4{
   display:inline;
}

.announce p{
   font-size: 0.8em;
}

.announce .content {
   border-top: 1px dashed;
}

.announce .date {
   float: right;
   margin:  0;
}

@font-face{
    font-family:"TriodPostnaja";
    src: url(../docs/TriodPostnaja.ttf) format("truetype");
}

h1,h2,h3,.navigation{
   font-weight:normal;
   font-family:"TriodPostnaja";
}
/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

	.examplecontainer {}

	body {}
	
   .navigation {
      text-align:center;
      border-left: 1px dashed;
      direction:  ltr;
      padding: 1em;
   }

   .navigation a{
      font-size:1.2em;
   }

   .navigation li{
      display:inline;
      line-height:3em;
      margin:1em;
   }

}


/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
	.download {
	background: url(../img/downarrow@2x.png) no-repeat;
	background-size: 27px 28px;
	}
	*/

}
