/*
_______________________________
Desktop version layout - place your custom code here */

body {

}

h3{
   margin-top:0;
}

h4{
   font-size:1em;
}

.navigation {
   padding:  1em;
}

.navigation ul {
   list-style:none;
}

.navigation li {
   list-style:none;
   text-align:right;
   direction:rtl;
}

li#current {
   list-style: square;
}

.navigation a {
   color:#000000;
}

.contact {
   padding:  1em;
}

.contact p{
   font-size: 0.8em;
}

.contact h4{
   border-bottom: 1px dashed;
}

.announce {
   margin:1em;
}
.announce h4{
   display:inline;
}

.announce p{
   font-size: 0.8em;
}

.announce .content {
   border-top: 1px dashed;
}

.announce .date {
   float: right;
   margin:  0;
}

/*
_______________________________
Mobile version - preset code from cssgrid.net */

@media handheld, only screen and (max-width: 767px) {

	.examplecontainer {}

	body {}
	
}


/*
_______________________________
Provide higher res assets for iPhone 4 - preset code from cssgrid.net */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

	/* An example of how to override an image with one twice the size for iPhone 4. Specify the original pixel size with background-size.
	.download {
	background: url(../img/downarrow@2x.png) no-repeat;
	background-size: 27px 28px;
	}
	*/

}
